FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=xxx
FEISHU_BITABLE_APP_TOKEN=xxx
FEISHU_BITABLE_TABLE_ID=tbl_xxx
FEISHU_BOOKING_PHONE_FIELD=手机号
FEISHU_BOOKING_SOURCE_FIELD=来源
FEISHU_BOOKING_INTENT_FIELD=意向
FEISHU_BOOKING_STATUS_FIELD=状态
